body{

    font-family: sans-serif;
}
.parte_arriba{

  
    width: auto;
    height:10em;
    padding: 7em 5em 0em 0.5em;
    font-size: 2em; 


    background-image: url("../IMG/FONDO9.jpg");
    background-size: cover;
    background-position: right;
    
}

.parte_arriba h1{

    color: #fff;
    margin: 0;
    font-weight: 400;
    
    }


    .parte_arriba p{

    margin: 0;
    padding: 0;
    font-size: 0.5em;
    }

    .productos  {
        
        width: 80%;
        margin: auto;
      
      
       
    }

    .productos td{
        width: 50%;
        height: auto;
        margin: 0;
        padding: 0.5em;
        border-bottom: 2px solid #BDBBBB;
        
    }

    .productos p{

        margin: 0;
        text-align: center;
      
    }

    .productos img{
        
        width: 100%;
        height:auto;
    }

    .footer{

        padding: 2em;
        height: 100%;
        background-color: #000;
        text-align: center;
    }

    .footer p{

        margin: 0;
        padding: 0;
        color: #fff;
        
    }
    
    .color_conjunto{

        color: #BDBBBB;
    }