*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* LETRAS DE ENLACE NEGRAS Y SACAR EL SUBRAYADO */

.elem_nav_bar a{

    color: #000000;
    text-decoration: none;

}

/* AL ELEMENTO DE LA BARRA DE NAVEGACION (LISTA) AL COLOAR EL MOUSE SE GENERA UNA RAYA NEGRA */

nav li:hover{
    
    border-bottom: 2px solid #000000;
     
 }

/* COLOR DEL BORDE DE LA BARRA DE NAVEGACION */

 .nav_bar{

    border-bottom: 2px solid #F2F2F2;
}

/* AL ACERCAR EL MOUSE EL LOGO DE IG SE COLOCA NEGRO */

.icono_instagram i:hover{

    color: #000000;


}

.link_logo img {

    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.imagen_bg{

    margin: 5px 0px 5px 0px;
    width: 100%;
    height: 100%;
  
    background-image: url(/ASSETS/IMG/foto_cv_d5.JPG);
    background-size: cover;
    background-position: center;

}

.texto_i{

   border-top: 3px solid #000000;
   border-bottom: 3px solid #000000;
   margin: 150px 0px 80px 10px;
   color: #F2F2F2;
   text-align: center;

}

