*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* LETRAS DE ENLACE NEGRAS Y SACAR EL SUBRAYADO */

.elem_nav_bar a{

    color: #000000;
    text-decoration: none;

}

/* AL ELEMENTO DE LA BARRA DE NAVEGACION (LISTA) AL COLOAR EL MOUSE SE GENERA UNA RAYA NEGRA */

nav li:hover{
    
    border-bottom: 2px solid #000000;
     
 }

/* COLOR DEL BORDE DE LA BARRA DE NAVEGACION */

 .nav_bar{

    border-bottom: 2px solid #F2F2F2;
}

/* AL ACERCAR EL MOUSE EL LOGO DE IG SE COLOCA NEGRO */

.icono_instagram i:hover{

    color: #000000;


}